@import "tailwindcss";

@theme {
  --color-primary:#171923;
  --color-primary-light: #1A202C;
  --color-secondary: #90CDF4;
}

option {
  background-color: var(--color-primary) !important;
  color: #FFFFFF;
}
